div{

    height: 300px;
    width: 400px;
    background-color: aqua;
    border: solid;
    border-color: brown;
    padding:20px;
}


div:hover{


    background-color: aquamarine;
   
}


#c2{

    margin-left: 60%;
   
    margin-top: -38%;
    


}

#c1{

    margin-left: 10%;
    margin-top: 10%;
}


