div{

   
    margin-left: 20px;
}

.c1{
    
    width: 300px;
    height: 400px;
    border: solid red;
    background-color: blueviolet;
    position: absolute;
    top: 50px;
}


.c2{
    background-color: aqua;
    left: 320px;


}

 .c2:hover{
    background-color: yellowgreen;
 }



.c3{
    background-color: rgb(0, 255, 30);
    left: 630px;
}

.c4{
    background-color: rgb(251, 0, 255);
    left: 940px;
}
