.d1{
    border: solid black;
    width: 45%;
    height: 824px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #deb1d6 0%, #add 100%);
}

h1{


    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
   
}

.d1:hover{

    background: linear-gradient(to bottom, #e3d8d8 0%, #d5bc19 100%);
}

.fnm{
    position: absolute;
    padding: 50px;
    margin-left: -331px;
    margin-top: -35px;
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    border-radius: 20px;
    text-align: center;
    color:black;
    
    
}

   



.psd{

    border-radius: 20px;
    text-align: center;


}

.fnm1{
    margin-right: 41px;
    width: 36%;
    height: 40px;
    margin-left: -16px;
    border-radius:0px 10px;
    box-shadow: 200px;
    border: solid black;
    background: linear-gradient(to bottom, #0d9cde 0%, #d519b2 100%);
    color:black;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;


}


.fnm1:hover{
    background: white;
}

.lnm{

   
    margin-top: 18px;
    position: absolute;
    margin-left: 15px;
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    
}

.lnm1{

    width: 36%;
    height: 40px;
    border-radius:0px 10px;
    box-shadow: 200px;
    border: solid black;
    background: linear-gradient(to bottom, #0d9cde 0%, #d519b2 100%);
    color:black;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;

}

.lnm1:hover{
    background: white;
}

#add{

    height: 57px;
    margin-right: 14px;
    width: 79%;
    border: solid black;
    margin-right: 14px;
    width: 79%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #0d9cde 0%, #d519b2 100%);
    

    color:black;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    


}

#add:hover{
    background: white;
}


.gdr{


   
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    margin-left: -476px;
}

.gdr1{

  

}


#ml{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;


}

#fml{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    
}

#oth{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    
}


.ma1{
    margin-left: -250px;
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    
}


.fa2{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    
}


.ot3{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    
}


.sc1{

    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    margin-left:-394px;
}

.ch1{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    margin-left:-242px ;

}

.plc{

    margin-left: -410px;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    
    

}

.plc1{

    width: 30%;
    height: 40px;
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    border-radius:0px 5px;
    box-shadow: 200px;
    border: solid black;
    margin-left: -348px;
    background: linear-gradient(to bottom, #0d9cde 0%, #d519b2 100%);

}

.plc1:hover{
    background: white;
}


.add1{

    margin-left: -463px;
    font-size:20px;
    font-style: italic;
    font-weight: bolder;

}


.sbtn{

    border: solid black;
    border-radius: 10px;
    box-sizing: 10px;
    background: linear-gradient(to bottom, #de0d3d 0%, #d519a6 100%);
    width: 30%;
    height: 50px;
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;




}

.sbtn:hover{

    background: linear-gradient(to bottom, #0db1de 0%, #19bcd5 100%);
    font-size:20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;


}


.ch2{

    font-size:20px;
    font-style: italic;
    font-weight: bolder;

}

.plc2{


    font-size:20px;
    font-style: italic;
    font-weight: bolder;


}

body{

    background:honeydew;
}