.div1{

  
    margin-bottom: 5px;
    background-color:rgb(57, 56, 56);
    width: 121px;
    height: 148px;
    margin-top: 64px;
    margin-left: 770px;
   
    
    
}


.div2{

   
    background-color:grey;
    width: 122px;
    height: 150px;
    margin-left: 387px;
    margin-top: -154px;
    
}


.div3{

    
    background-color:rgb(128, 128, 128);
    width: 122px;
    height: 150px;
    margin-left: 515px;
    margin-top: -150px;
    
}


.div4{

    
    background-color: rgb(0, 255, 128);
    width: 121px;
    height: 150px;
    margin-top: -150px;
    margin-left: 643px;
   
}
.div5{

   
    background-color: #eeeeee;
    width: 121px;
    height: 148px;
    margin-top: -149px;
    margin-left: 897px;
    
    
}



.div6{

   
    background-color: rgb(255, 174, 0);
    width: 121px;
    height: 147px;
    margin-top: -154px;
    margin-left: 260px;
}


.div7{

    
    background-color: rgb(60, 0, 255);
    width: 121px;
    height: 147px;
    margin-top: -150px;
    margin-left: 1026px;
}

.div8{

   
    background-color: rgb(255, 0, 144);
    width: 121px;
    height: 147px;
    margin-top: -150px;
    margin-left: 1153px;
}


.div9{

    
    background-color: #5fcbe7;
    width: 121px;
    height: 147px;
    margin-top: -155px;
    margin-left: 132px;
}

.container{


    align-items: center;
}



.diva{

    background-color: rgb(220, 245, 243);
}




.div1a{

    
background-color: rgb(86 234 95);;

}

.div2a{

    background-color: #616161ed;
    

    
}

.div3a{

    background-color:rgb(47, 107, 67) ;
    
}



.divb{



    margin-bottom: 8px;
    background-color:#d04056;
    width: 122px;
    height: 147px;
    margin-left: 387px;
    margin-top: -179px;
}



.divc{

    margin-bottom: 0px;
    background-color:#d28fe8;
    width: 122px;
    height: 147px;
    margin-left: 515px;
    margin-top: -155px
}


.divf{


    margin-bottom: 12px;
    width: 121px;
    height: 147px;
    margin-top: -147px;
    margin-left: 260px;
}


.divd{


    background-color: #895eda;
    width: 121px;
    height: 147px;
    margin-top: -147px;
    margin-left: 643px;
    margin-bottom: -71px;
    margin-bottom: -37px;
}

.diva{

    margin-bottom: 32px;
    background-color: #3a169b;
    width: 121px;
    height: 147px;
    margin-top: 26px;
    margin-left: 770px;
}

.dive{


    background-color: #812bdbd9;
    width: 121px;
    height: 147px;
    margin-top: -147px;
    margin-left: 897px;
    margin-bottom: -11px;
}


.divg{

    margin-bottom: 10px;
    background-color:#989393e6;
    width: 121px;
    height: 147px;
    margin-top: -159px;
    margin-left: 1024px;
}





.d1{

    margin-bottom: 30px;
    background-color:#62dbd0;
    width: 121px;
    height: 147px;
    margin-top: 25px;
    margin-left: 770px;


}

.d2{


    background-color:#f5b16b;
    width: 122px;
    height: 147px;
    margin-left: 387px;
    margin-top: -177px;
    margin-bottom: 17px;
    
}

.d3{


    margin-bottom: 17px;
    background-color: #bb177d;
    width: 122px;
    height: 147px;
    margin-left: 515px;
    margin-top: -164px;

    
}

.d4{

    margin-bottom: 15px;
    background-color:#540837;
    width: 121px;
    height: 147px;
    margin-top: -164px;
    margin-left: 643px;


}

.d5{


    margin-bottom: 15px;
    background-color: rgb(110 194 164);
    width: 121px;
    height: 148px;
    margin-top: -162px;
    margin-left: 897px;
    
}

.d6{


    background-color:#c4f06b;
    width: 121px;
    height: 147px;
    margin-top: -163px;
    margin-left: 259px;
    margin-bottom: 14px;

    
}

.d7{


    margin-bottom: 10px;
    background-color:#7a5db0ed;
    width: 121px;
    height: 148px;
    margin-top: -161px;
    margin-left: 1026px;


}

.d8{

    margin-bottom: 8px;
    background-color: #6a1a85d6;
    width: 121px;
    height: 148px;
    margin-top: -158px;
    margin-left: 1153px;

    
}




body{
    background-color: black;
}


.hd1{

    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: white;
    margin-top: 38px;
    margin-bottom: -45px;
    margin-left: 577px
}